* {
	box-sizing: border-box;
	/*outline: 1px solid rgba(0,0,0,0.1);*/
}

body {
	background-color: #77b6f9;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
}

.logo {
	height: 35px;
	display: block;
	margin: 50px auto 40px auto;
}

fieldset {
	width: 400px;
	height: 450px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	background-color: #fff;
	margin: auto;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 15px;
}

.input {
	height: 55px;
	width: 320px;
	padding: 15px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 15px;
	margin-top: 10px;
}

form, label, .forgot {
	background-color: #fff;
	text-align: left;
	margin-bottom: 10px;
}

.field {
	text-align: left;
	font-size: 15px;
	border: 1px solid #d4d6d8;
}

legend {
	font-size: 32px;
	padding-top: 30px;
	color: #545556;
	font-weight: lighter;
	background-color: #fff;
	margin: 0 auto 15px auto;
}

.button {
	background-color: #83db83;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border: 1px solid #83db83;
}

.button:hover { 
	background-color: #70a878;
	border: 1px solid #70a878;
}

.forgot {
	color: #545556;
	font-weight: 300;
}
.login {
	color: #fff;
	font-weight: 300;
}